.profile__description {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 520px;
}

@media screen and (max-width: 879px) {
  .profile__description {
    max-width: 320px;
  }
}


@media screen and (max-width: 768px) {
  .profile__description  {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    align-self: center;
  }
}